<!DOCTYPE html>
<html xmlns:th="http://thymeleaf.org">

<head>
    <meta charset="UTF-8">
    <title>Tree view</title>
    <script type="text/javascript"></script>
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
        integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO" crossorigin="anonymous">
</head>

<body>
    <h2 th:text="${tree.name}">... view</h2>
    <a th:href="@{/}"> Back to data tree list</a>

    <div id="diagram-content" style="height: 80vh; width: 100vw; border: 1px solid black;"></div>



    <script th:src="@{/webjars/jquery/3.7.0/jquery.min.js}"></script>
    <script th:src="@{https://unpkg.com/gojs/release/go.js}"></script>

    <script th:inline="javascript">
        var tree = /*[[${tree}]]*/ null;
        var records = /*[[${closureRecords}]]*/ null;


        treeDiagram = (function () {
            var $ = go.GraphObject.make;

            function isRootNode(potentialRootRecord) {
                var filteredRecords = records.filter(record => record.child.id === potentialRootRecord.parent.id && isSelfRefential(potentialRootRecord));
                return filteredRecords.length === 1 ? true : false;
            }

            function isSelfRefential(potentialRootRecord) {
                return potentialRootRecord.child.id === potentialRootRecord.parent.id ? true : false;
            }

            function prepareContextMenu(isAddVisible, isRemoveVisible, isUpdateVisible) {
                return $("ContextMenu",
                    prepareMenuButton("add node", 
                    (e, obj) => {
                        var data = obj.part.adornedPart.data;
                        window.location.href = `/tree/addNode/${tree.id}/${data.key}`;
                    },
                    o => isAddVisible),
                    prepareMenuButton("remove node", (e, obj) => {
                        var data = obj.part.adornedPart.data;
                        window.location.href = `/tree/removeNode/${tree.id}/${data.key}`;
                    },
                    o => isRemoveVisible),
                    prepareMenuButton("update node", (e, obj) => {
                        var data = obj.part.adornedPart.data;
                        window.location.href = `/tree/updateNode/${tree.id}/${data.key}`;
                    },
                    o => isUpdateVisible));
            };

            function prepareMenuButton(text, action, visiblePredicate) {
                return $("ContextMenuButton",
                    $(go.TextBlock, text),
                    { click: action },
                    visiblePredicate ? new go.Binding("visible", "", (o, e) => o.diagram ? visiblePredicate(o, e): false).ofObject() : {});
            }

            function prepareRecordsIntoNodeDataArray() {
                return records
                    .filter(record => record.depth <= 1)
                    .map(function (record) {
                        if (isRootNode(record)) {
                            return {
                                key: record.child.id,
                                value: record.child.value,
                                isLeaf: record.child.leaf,
                                category: "root"
                            }
                        } else if (!isSelfRefential(record)) {
                            return {
                                key: record.child.id,
                                parent: record.parent.id,
                                value: record.child.value,
                                isLeaf: record.child.leaf,
                                category: record.child.leaf ? "leaf" : "node"
                            }
                        }
                    })
                    .filter(n => n)
            }

            function prepareTemplates() {

                return [
                {
                        category: "root",
                        template: $(go.Node,
                            "Auto",
                            $(go.Shape, "RoundedRectangle", { fill: "salmon" }),
                            $(go.Panel, "Table",
                                $(go.TextBlock, { row: 1, column: 0 }, "Id:"),
                                $(go.TextBlock, { row: 1, column: 1 }, new go.Binding("text", "key")),
                                $(go.TextBlock, { row: 2, column: 0 }, "Value:"),
                                $(go.TextBlock, { row: 2, column: 1 }, new go.Binding("text", "value")),
                                { contextMenu: prepareContextMenu(true, false, true) })
                        )
                    },
                    {
                        category: "node",
                        template: $(go.Node,
                            "Auto",
                            $(go.Shape, "RoundedRectangle", { fill: "white" }),
                            $(go.Panel, "Table",
                                $(go.TextBlock, { row: 1, column: 0 }, "Id:"),
                                $(go.TextBlock, { row: 1, column: 1 }, new go.Binding("text", "key")),
                                $(go.TextBlock, { row: 2, column: 0 }, "Value:"),
                                $(go.TextBlock, { row: 2, column: 1 }, new go.Binding("text", "value")),
                                { contextMenu: prepareContextMenu(true, true, true) })
                        )
                    },
                    {
                        category: "leaf",
                        template: $(go.Node,
                            "Auto",
                            $(go.Shape, "RoundedRectangle", { fill: "lightblue" }),
                            $(go.Panel, "Table",
                                $(go.TextBlock, { row: 1, column: 0 }, "Id:"),
                                $(go.TextBlock, { row: 1, column: 1 }, new go.Binding("text", "key")),
                                $(go.TextBlock, { row: 2, column: 0 }, "Sum:"),
                                $(go.TextBlock, { row: 2, column: 1 }, new go.Binding("text", "value")),
                                { contextMenu: prepareContextMenu(true, true, false) })
                        )
                    }
                ];
            };


            function initTree() {
                diagram = $(go.Diagram, "diagram-content", {});
                prepareTemplates().forEach(element => {
                    diagram.nodeTemplateMap.add(element.category, element.template)
                });

                diagram.model = $(go.TreeModel, {
                    nodeDataArray: prepareRecordsIntoNodeDataArray().map(function (element) {
                        return {
                            value: element.value,
                            parent: element.parent,
                            key: element.key,
                            isLeaf: element.isLeaf,
                            category: element.category
                        }
                    })
                })

                diagram.layout = $(go.TreeLayout, {angle:90, layerSpacing:40, nodeSpacing: 80});
            }
            return { initTree }
        })();

        $(document).ready(function () {
            treeDiagram.initTree();
        })
    </script>

</body>

</html>